body{
    background-color: black;
}
 img{
    width: 250px ;
    height: 180Px;
    margin: auto;
    padding: 20px;
}
header{

    color: white;
    font-size: larger;
    text-align: center;

}
main{
    color: white;
}
#id1{
    color: green;
}
#id2{
    color: green;
}
#id3{
    color: green;
}
